/* for navbar shaddow*/
#settings-content { border: 1px solid black !important; height: 100%; }

#settings-content #settings-container { border: 1px solid black; }

@media all and (max-width: 768px) { #settings-content { width: 100%; }
  #settings-container { width: 100%; height: 28rem; } }

@media all and (min-width: 769px) and (max-width: 1023px) { #settings-content { width: 100%; }
  #settings-content #settings-container { width: 100%; height: 28rem; } }

@media all and (min-width: 1024px) and (max-width: 1215px) { #settings-content { width: 100%; }
  #settings-content #settings-container { width: 100%; height: 30rem; } }

@media all and (min-width: 1216px) and (max-width: 1407px) { #settings-content { width: 100%; }
  #settings-content #settings-container { width: 100%; height: 30rem; } }

@media all and (min-width: 1408px) { #settings-content { width: 100%; }
  #settings-content #settings-container { width: 100%; height: 30rem; } }
