@import "colors";
@import "mixins";
html {
    background-color: $mainbackgroundcolor;
}
#confirmationForm {
    background: white;
    @include boxShadow(0px, 0px, 5px, #000);
}
.confirmationbuttonoutside {
    background-color: $outsidebtncolor !important;
    @include boxShadow(0px, 0px, 2px, gray);
}

#hidesubmitforgotconfirm {
    visibility: hidden;
}
#resend {
    height: 2.5rem;
    position: absolute;
    z-index: 3;
    button {
        background-color: $outsidebtncolor !important;
        @include boxShadow(0px, 0px, 2px, gray);
        color: white;
    }
}

@media all and (max-width: 767px) and (orientation: portrait) {
    .confirmationButton {
        margin-top: 2rem;
    }
    #confirmationForm {
        margin-top: 9rem;
        padding: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #confirmationFormLogo {
        img {
            width: 7rem;
            height: 7rem;
        }
    }

    .confirmationbuttonoutside {
        width: 100% !important;
    }
    #resend {
        top: 21.5rem;
        width: 82%;
        section {
            button {
                width: 100%;
                height: 100%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
@media all and (max-height: 767px) and (orientation: landscape) {
    .confirmationButton {
        margin-top: 2rem;
    }
    #confirmationForm {
        margin-top: 2rem;
        padding: 1.5rem;
    }
    #confirmationFormLogo {
        img {
            width: 7rem;
            height: 7rem;
        }
    }
    .confirmationbuttonoutside {
        width: 50% !important;
    }
    #resend {
        top: 13.8rem;
        width: 43.2%;
        section {
            button {
                width: 100%;
                height: 100%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

// for tablet resolution
@media all and (min-height: 768px) and (orientation: portrait) {
    .confirmationButton {
        margin-top: 2rem;
    }
    #confirmationForm {
        margin-top: 11rem;
        padding: 1.5rem;
    }
    #confirmationFormLogo {
        img {
            width: 7rem;
            height: 7rem;
        }
    }
    .confirmationbuttonoutside {
        width: 30%;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .confirmationButton {
        margin-top: 2rem;
    }
    #confirmationForm {
        margin-top: 5.2rem;
        padding: 1.5rem;
    }
    #confirmationFormLogo {
        img {
            width: 7rem;
            height: 7rem;
        }
    }
    .confirmationbuttonoutside {
        width: 50%;
    }
}

// for desktop to 1080 monitor
@media all and (min-width: 1024px) and (max-width: 2559px) {
    .confirmationButton {
        margin-top: 2rem;
    }
    #confirmationForm {
        margin-top: 12rem;
        padding: 1.5rem;
    }
    #confirmationFormLogo {
        img {
            width: 7rem;
            height: 7rem;
        }
    }
    .confirmationbuttonoutside {
        width: 100%;
    }
}

// for 4k resolution
@media all and (min-width: 2560px) {
    .confirmationButton {
        margin-top: 2rem;
    }
    #confirmationForm {
        margin-top: 10rem;
        padding: 1.5rem;
    }
    #confirmationFormLogo {
        img {
            width: 8rem;
            height: 8rem;
        }
    }
    .confirmationbuttonoutside {
        width: 50%;
        background-color: $outsidebtncolor;
    }
}
