@import "colors";
@import "mixins";
/* add custom scrollbar to webkit based browser*/
html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: gray;
}
body::-webkit-scrollbar {
    width: 10px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/*set style for all page*/
body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    height: 100vh;
}

#disabled-javascript {
    width: 100vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 100;
    padding-top: 1.5rem;
}

#navigationbar {
    background-color: $mainbackgroundcolor;
    @include boxShadow(0px, 0px, 10px, #3a3a3a);
    .navbar-brand {
        .burgercolor {
            color: whitesmoke;
        }
    }

    .navbarbutton {
        .navbar-start {
            .navbar-item {
                color: whitesmoke;
                .navbar-link {
                    color: whitesmoke;
                    background-color: $mainbackgroundcolor;
                    &:hover {
                        background-color: $mainbackgroundcolor;
                    }
                }
                .navbarhover {
                    @include boxShadow(0px, 0px, 3px, #000);
                    .navbar-item {
                        color: black;
                        &:hover {
                            background-color: white;
                        }
                        &:active {
                            background-color: white;
                        }
                        &:focus {
                            background-color: white;
                        }
                    }
                }
                &:hover {
                    background-color: $mainbackgroundcolor;
                    text-decoration: underline;
                }
                &:active {
                    background-color: $mainbackgroundcolor;
                    text-decoration: underline;
                }
                &:focus {
                    background-color: $mainbackgroundcolor;
                }
            }
        }
        .navbar-end {
            .navbar-item {
                color: whitesmoke;
                .navbar-link {
                    color: whitesmoke;
                    background-color: $mainbackgroundcolor;
                    &:hover {
                        background-color: $mainbackgroundcolor;
                    }
                    &:active {
                        background-color: white;
                    }
                    &:focus {
                        background-color: white;
                    }
                }
                .navbarhover {
                    @include boxShadow(0px, 0px, 3px, #000);
                    .navbar-item {
                        color: black;
                        &:hover {
                            background-color: white;
                            text-decoration: underline;
                            .navbar-link {
                                background-color: $mainbackgroundcolor;
                            }
                        }
                    }
                }
                &:hover {
                    background-color: $mainbackgroundcolor;
                    text-decoration: underline;
                }
                &:active {
                    background-color: $mainbackgroundcolor;
                    text-decoration: underline;
                }
                &:focus {
                    background-color: $mainbackgroundcolor;
                    text-decoration: underline;
                }
            }
        }
    }
}
.no-underline {
    &:hover {
        text-decoration: none !important;
        cursor: auto;
    }
}

#navbreadcrumbscontainer {
    margin-top: 1rem;
    z-index: 1;
    #navbarbreadcrumbs {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: whitesmoke;
        @include boxShadow(0px, 3px, 5px, #3a3a3a);
    }
}

/* for mobile design */

@media all and (min-width: 1024px) {
    #navigationbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
