/* for navbar shaddow*/

@mixin boxShadow($shadowOne, $shadowTwo, $radius, $color) {
    -webkit-box-shadow: $shadowOne $shadowTwo $radius $color;
    -moz-box-shadow: $shadowOne $shadowTwo $radius $color;
    -o-box-shadow: $shadowOne $shadowTwo $radius $color;
    -ms-box-shadow: $shadowOne $shadowTwo $radius $color;
    -khtml-box-shadow: $shadowOne $shadowTwo $radius $color;
    box-shadow: $shadowOne $shadowTwo $radius $color;
}
