@import "./colors";
@import "./mixins";
.is-current {
    background-color: #8a2a2b !important;
    @include boxShadow(0px, 0px, 2px, gray);
    border: 1px solid transparent !important;
    &:focus {
        border: 1px solid transparent;
    }
    &:active {
        order: 1px solid transparent;
    }
}

html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: gray;
}
.modal-content::-webkit-scrollbar {
    width: 10px;
}
.modal-content {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.modal-content::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.modal-content::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.modal-card-body::-webkit-scrollbar {
    width: 10px;
}
.modal-card-body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.modal-card-body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.modal-card-body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
