@import "colors";
@import "outlinereset";
@import "overide";
@import "login";
@import "register";
@import "forgotpassword";
@import "confirmation";
@import "forgotconfirmation";
@import "./mixins";
@import "./general";

#disabled-javascript {
    width: 100vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 100;
    padding-top: 1.5rem;
}
.outside-notification-container {
    padding: 0.3rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    cursor: pointer;
    //@include boxShadow(0px, 0px, 2px, #000);
}
#outside-success-container {
    border: 2px solid #2e9b2e;
    //background-color: #2e9b2e;
    font-size: 0.7rem;
    p {
        color: #2e9b2e !important;
    }
}
#outside-error-container {
    border: 2px solid #d33a3d;
    //background-color: #d33a3d;
    p {
        color: #d33a3d !important;
    }
}
#outside-validation-errors {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    &:active,
    &:focus {
        @include boxShadow(0px, 0px, 3px, gray);
        border: 1px solid gray !important;
    }
}
option {
    &:hover {
        background-color: #b81c1e !important;
    }
}
