a:active,
a:focus {
  outline: 0 !important;
  border: none;
  -moz-outline-style: none !important;
  -webkit-outline-style: none !important;
  -o-outline-style: none !important;
  -ms-outline-style: none !important;
  -khtml-outline-style: none !important;
  outline-style: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* for navbar shaddow*/

.is-current {
  background-color: #8a2a2b !important;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
  border: 1px solid transparent !important;
}

.is-current:focus {
  border: 1px solid transparent;
}

.is-current:active {
  -webkit-box-ordinal-group: 2;
          order: 1px solid transparent;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: gray;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.modal-content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* for navbar shaddow*/

html {
  background-color: #f1f1f1;
}

#loginform {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

#buttonoutside {
  background-color: #8a2a2b;
  -o-box-shadow: 0px 0px 5px gray;
  -ms-box-shadow: 0px 0px 5px gray;
  box-shadow: 0px 0px 5px gray;
}

.login-links,
.login-links:active,
.login-links:focus {
  color: black;
}

.login-links:hover {
  text-decoration: underline;
  color: black;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  #loginform {
    margin-top: 4rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 100% !important;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  #loginform {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50% !important;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  #loginform {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #loginform {
    margin-top: 3.2rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  #loginform {
    margin-top: 7rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 8rem;
    height: 8rem;
  }

  #buttonoutside {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  #loginform {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
  }
}

/* for navbar shaddow*/

#registrationform {
  background-color: white;
  -o-box-shadow: 0px 0px 3px #000;
  -ms-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
}

.register-links,
.register-links:active,
.register-links:focus {
  color: black;
}

.register-links:hover {
  text-decoration: underline;
  color: black;
}

#registrationbutton {
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  #registrationform {
    margin-top: 2rem !important;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 100% !important;
    background-color: #b81c1e;
  }

  #link-centering {
    text-align: center;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  #registrationform {
    margin-top: 2rem !important;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 25% !important;
    background-color: #8a2a2b;
  }

  .register-links {
    text-align: left !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  #registrationform {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 20%;
  }

  .register-links {
    text-align: left !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #registrationform {
    margin-top: 3.2rem;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 20% !important;
  }

  .register-links {
    text-align: left !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  #registrationform {
    margin-top: 3.3rem !important;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 8rem;
    height: 8rem;
  }

  .register-links {
    font-size: 0.8rem !important;
  }

  #registrationbutton {
    width: 13% !important;
    font-size: 0.8rem;
  }

  #link-centering {
    padding-top: 0px;
  }

  #errornotification {
    border: 1px solid black;
  }
}

@media all and (min-width: 2560px) {
  #registrationform {
    margin-top: 3rem !important;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 10% !important;
    font-size: 0.8rem;
  }

  #link-centering {
    padding-top: 0px;
  }

  .register-links {
    font-size: 0.8rem !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

/* for navbar shaddow*/

html {
  background-color: #f1f1f1;
}

#forgotform {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

.forgotpasssword-links,
.forgotpasssword-links:active,
.forgotpasssword-links:focus {
  color: black;
}

.forgotpasssword-links:hover {
  text-decoration: underline;
  color: black;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  #forgotform {
    margin-top: 4rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 100% !important;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  #forgotform {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50% !important;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  #forgotform {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #forgotform {
    margin-top: 3.2rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  #forgotform {
    margin-top: 7rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 8rem;
    height: 8rem;
  }

  #buttonoutside {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  #forgotform {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
    background-color: #b81c1e;
  }
}

/* for navbar shaddow*/

html {
  background-color: #f1f1f1;
}

#confirmationForm {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

.confirmationbuttonoutside {
  background-color: #8a2a2b !important;
  -o-box-shadow: 0px 0px 3px gray;
  -ms-box-shadow: 0px 0px 3px gray;
  box-shadow: 0px 0px 3px gray;
}

#hidesubmitconfirm {
  visibility: hidden;
}

#resend {
  height: 2.5rem;
  position: absolute;
  z-index: 3;
}

#resend button {
  background-color: #8a2a2b !important;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
  color: white;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 9rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100% !important;
  }

  #resend {
    top: 21.5rem;
    width: 82%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50% !important;
  }

  #resend {
    top: 13.8rem;
    width: 43.2%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 5.2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 12rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100%;
  }

  #resend {
    height: 2.5rem;
    position: absolute;
    z-index: 3;
    margin-top: 10.4rem;
    margin-right: 8.1rem;
    width: 7rem !important;
  }

  #resend button {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 8rem;
    height: 8rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
  }

  #resend {
    height: 2.5rem;
    position: absolute;
    z-index: 3;
    margin-top: 10.4rem;
    margin-right: 8.1rem;
    width: 7rem !important;
  }

  #resend button {
    width: 100%;
  }
}

/* for navbar shaddow*/

html {
  background-color: #f1f1f1;
}

#confirmationForm {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

.confirmationbuttonoutside {
  background-color: #8a2a2b !important;
}

#hidesubmitforgotconfirm {
  visibility: hidden;
}

#resend {
  height: 2.5rem;
  position: absolute;
  z-index: 3;
}

#resend button {
  background-color: #8a2a2b !important;
  color: white;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 9rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100% !important;
  }

  #resend {
    top: 21.5rem;
    width: 82%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50% !important;
  }

  #resend {
    top: 13.8rem;
    width: 43.2%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 5.2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 12rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100%;
  }

  #resend {
    height: 2.5rem;
    position: absolute;
    z-index: 3;
    margin-top: 10.4rem;
    margin-right: 8.1rem;
    width: 7rem !important;
  }

  #resend button {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 8rem;
    height: 8rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
    background-color: #8a2a2b;
  }

  #resend {
    height: 2.5rem;
    position: absolute;
    z-index: 3;
    margin-top: 10.5rem;
    margin-right: 8.1rem;
    width: 7rem !important;
  }

  #resend button {
    width: 100%;
  }
}

/* for navbar shaddow*/

/* for navbar shaddow*/

/* add custom scrollbar to webkit based browser*/

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: gray;
}

body::-webkit-scrollbar {
  width: 10px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/*set style for all page*/

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  height: 100vh;
}

#disabled-javascript {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  padding-top: 1.5rem;
}

#navigationbar {
  background-color: #8a2a2b;
  -o-box-shadow: 0px 0px 10px #3a3a3a;
  -ms-box-shadow: 0px 0px 10px #3a3a3a;
  box-shadow: 0px 0px 10px #3a3a3a;
}

#navigationbar .navbar-brand .burgercolor {
  color: whitesmoke;
}

#navigationbar .navbarbutton .navbar-start .navbar-item {
  color: whitesmoke;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbar-link {
  color: whitesmoke;
  background-color: #8a2a2b;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbar-link:hover {
  background-color: #8a2a2b;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover {
  -o-box-shadow: 0px 0px 3px #000;
  -ms-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover .navbar-item {
  color: black;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover .navbar-item:hover {
  background-color: white;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover .navbar-item:active {
  background-color: white;
}

#navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover .navbar-item:focus {
  background-color: white;
}

#navigationbar .navbarbutton .navbar-start .navbar-item:hover {
  background-color: #8a2a2b;
  text-decoration: underline;
}

#navigationbar .navbarbutton .navbar-start .navbar-item:active {
  background-color: #8a2a2b;
  text-decoration: underline;
}

#navigationbar .navbarbutton .navbar-start .navbar-item:focus {
  background-color: #8a2a2b;
}

#navigationbar .navbarbutton .navbar-end .navbar-item {
  color: whitesmoke;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link {
  color: whitesmoke;
  background-color: #8a2a2b;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link:hover {
  background-color: #8a2a2b;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link:active {
  background-color: white;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link:focus {
  background-color: white;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover {
  -o-box-shadow: 0px 0px 3px #000;
  -ms-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover .navbar-item {
  color: black;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover .navbar-item:hover {
  background-color: white;
  text-decoration: underline;
}

#navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover .navbar-item:hover .navbar-link {
  background-color: #8a2a2b;
}

#navigationbar .navbarbutton .navbar-end .navbar-item:hover {
  background-color: #8a2a2b;
  text-decoration: underline;
}

#navigationbar .navbarbutton .navbar-end .navbar-item:active {
  background-color: #8a2a2b;
  text-decoration: underline;
}

#navigationbar .navbarbutton .navbar-end .navbar-item:focus {
  background-color: #8a2a2b;
  text-decoration: underline;
}

.no-underline:hover {
  text-decoration: none !important;
  cursor: auto;
}

#navbreadcrumbscontainer {
  margin-top: 1rem;
  z-index: 1;
}

#navbreadcrumbscontainer #navbarbreadcrumbs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: whitesmoke;
  -o-box-shadow: 0px 3px 5px #3a3a3a;
  -ms-box-shadow: 0px 3px 5px #3a3a3a;
  box-shadow: 0px 3px 5px #3a3a3a;
}

/* for mobile design */

@media all and (min-width: 1024px) {
  #navigationbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

#disabled-javascript {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  padding-top: 1.5rem;
}

.outside-notification-container {
  padding: 0.3rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  cursor: pointer;
}

#outside-success-container {
  border: 2px solid #2e9b2e;
  font-size: 0.7rem;
}

#outside-success-container p {
  color: #2e9b2e !important;
}

#outside-error-container {
  border: 2px solid #d33a3d;
}

#outside-error-container p {
  color: #d33a3d !important;
}

#outside-validation-errors {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
select:active,
select:focus {
  -o-box-shadow: 0px 0px 3px gray;
  -ms-box-shadow: 0px 0px 3px gray;
  box-shadow: 0px 0px 3px gray;
  border: 1px solid gray !important;
}

option:hover {
  background-color: #b81c1e !important;
}

