a:active,
a:focus {
  outline: 0 !important;
  border: none;
  -moz-outline-style: none !important;
  -webkit-outline-style: none !important;
  -o-outline-style: none !important;
  -ms-outline-style: none !important;
  -khtml-outline-style: none !important;
  outline-style: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* for navbar shaddow*/

html {
  background-color: #8a2a2b;
}

#loginform {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

#buttonoutside {
  background-color: #b81c1e;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

.login-links,
.login-links:active,
.login-links:focus {
  color: black;
}

.login-links:hover {
  text-decoration: underline;
  color: black;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  #loginform {
    margin-top: 4rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 100% !important;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  #loginform {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50% !important;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  #loginform {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #loginform {
    margin-top: 3.2rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  #loginform {
    margin-top: 7rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 8rem;
    height: 8rem;
  }

  #buttonoutside {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  #loginform {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #loginlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
    background-color: #b81c1e;
  }
}

/* for navbar shaddow*/

#registrationform {
  background-color: white;
}

.register-links,
.register-links:active,
.register-links:focus {
  color: black;
}

.register-links:hover {
  text-decoration: underline;
  color: black;
}

#registrationbutton {
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  #registrationform {
    margin-top: 2rem !important;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 100% !important;
    background-color: #b81c1e;
  }

  #link-centering {
    text-align: center;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  #registrationform {
    margin-top: 2rem !important;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 25% !important;
    background-color: #b81c1e;
  }

  .register-links {
    text-align: left !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  #registrationform {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 20%;
    background-color: #b81c1e;
  }

  .register-links {
    text-align: left !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #registrationform {
    margin-top: 3.2rem;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 20% !important;
    background-color: #b81c1e;
  }

  .register-links {
    text-align: left !important;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  #registrationform {
    margin-top: 3.3rem !important;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 8rem;
    height: 8rem;
  }

  #registrationbutton {
    width: 13% !important;
    background-color: #b81c1e;
  }

  #errornotification {
    border: 1px solid black;
  }
}

@media all and (min-width: 2560px) {
  #registrationform {
    margin-top: 3rem !important;
    padding: 1.5rem;
  }

  #registerlogo .column .field h1 img {
    width: 10rem;
    height: 10rem;
  }

  #registrationbutton {
    width: 10% !important;
    background-color: #b81c1e;
  }

  #errornotification {
    border: 1px solid black;
    height: auto;
  }
}

/* for navbar shaddow*/

html {
  background-color: #8a2a2b;
}

#forgotform {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

#buttonoutside {
  background-color: #b81c1e;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

.forgotpasssword-links,
.forgotpasssword-links:active,
.forgotpasssword-links:focus {
  color: black;
}

.forgotpasssword-links:hover {
  text-decoration: underline;
  color: black;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  #forgotform {
    margin-top: 4rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 100% !important;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  #forgotform {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50% !important;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  #forgotform {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #forgotform {
    margin-top: 3.2rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  #forgotform {
    margin-top: 7rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 8rem;
    height: 8rem;
  }

  #buttonoutside {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  #forgotform {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #forgotpasswordlogo img {
    width: 10rem;
    height: 10rem;
  }

  #buttonoutside {
    width: 50%;
    background-color: #b81c1e;
  }
}

/* for navbar shaddow*/

html {
  background-color: #8a2a2b;
}

#confirmationForm {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

.confirmationbuttonoutside {
  background-color: #b81c1e !important;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

#hidesubmitconfirm {
  visibility: hidden;
}

#resend {
  height: 2.5rem;
  position: absolute;
  z-index: 3;
}

#resend button {
  background-color: #b81c1e !important;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
  color: white;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 9rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100% !important;
  }

  #resend {
    top: 21.5rem;
    width: 82%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50% !important;
  }

  #resend {
    top: 13.8rem;
    width: 43.2%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 5.2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 12rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 8rem;
    height: 8rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
    background-color: #b81c1e;
  }
}

/* for navbar shaddow*/

html {
  background-color: #8a2a2b;
}

#confirmationForm {
  background: white;
  -o-box-shadow: 0px 0px 5px #000;
  -ms-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

.confirmationbuttonoutside {
  background-color: #b81c1e !important;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

#hidesubmitforgotconfirm {
  visibility: hidden;
}

#resend {
  height: 2.5rem;
  position: absolute;
  z-index: 3;
}

#resend button {
  background-color: #b81c1e !important;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
  color: white;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 9rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100% !important;
  }

  #resend {
    top: 21.5rem;
    width: 82%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (max-height: 767px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50% !important;
  }

  #resend {
    top: 13.8rem;
    width: 43.2%;
  }

  #resend section button {
    width: 100%;
    height: 100%;
  }

  #resend section:hover {
    cursor: pointer;
  }
}

@media all and (min-height: 768px) and (orientation: portrait) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 11rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 5.2rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2559px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 12rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 7rem;
    height: 7rem;
  }

  .confirmationbuttonoutside {
    width: 100%;
  }
}

@media all and (min-width: 2560px) {
  .confirmationButton {
    margin-top: 2rem;
  }

  #confirmationForm {
    margin-top: 10rem;
    padding: 1.5rem;
  }

  #confirmationFormLogo img {
    width: 8rem;
    height: 8rem;
  }

  .confirmationbuttonoutside {
    width: 50%;
    background-color: #b81c1e;
  }
}

