/* for navbar shaddow*/
/* for navbar shaddow*/
/* add custom scrollbar to webkit based browser*/
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: gray; }

body::-webkit-scrollbar {
  width: 10px; }

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG); }

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG); }

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG); }

/*set style for all page*/
body {
  background-color: #f1f1f1;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100vh; }

#navigationbar {
  background-color: #8a2a2b;
  -webkit-box-shadow: 0px 0px 10px #3a3a3a;
  -moz-box-shadow: 0px 0px 10px #3a3a3a;
  -o-box-shadow: 0px 0px 10px #3a3a3a;
  -ms-box-shadow: 0px 0px 10px #3a3a3a;
  -khtml-box-shadow: 0px 0px 10px #3a3a3a;
  box-shadow: 0px 0px 10px #3a3a3a; }
  #navigationbar .navbar-brand .burgercolor {
    color: whitesmoke; }
  #navigationbar .navbarbutton .navbar-start .navbar-item {
    color: whitesmoke; }
    #navigationbar .navbarbutton .navbar-start .navbar-item .navbar-link {
      color: whitesmoke;
      background-color: #8a2a2b; }
      #navigationbar .navbarbutton .navbar-start .navbar-item .navbar-link:hover {
        background-color: #8a2a2b; }
      #navigationbar .navbarbutton .navbar-start .navbar-item .navbar-link:active {
        background-color: #8a2a2b; }
      #navigationbar .navbarbutton .navbar-start .navbar-item .navbar-link:focus {
        background-color: #8a2a2b; }
    #navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover {
      -webkit-box-shadow: 0px 0px 3px #000;
      -moz-box-shadow: 0px 0px 3px #000;
      -o-box-shadow: 0px 0px 3px #000;
      -ms-box-shadow: 0px 0px 3px #000;
      -khtml-box-shadow: 0px 0px 3px #000;
      box-shadow: 0px 0px 3px #000; }
      #navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover .navbar-item {
        color: black; }
        #navigationbar .navbarbutton .navbar-start .navbar-item .navbarhover .navbar-item:hover {
          background-color: white; }
    #navigationbar .navbarbutton .navbar-start .navbar-item:hover {
      background-color: #8a2a2b;
      text-decoration: underline; }
    #navigationbar .navbarbutton .navbar-start .navbar-item:active {
      background-color: #8a2a2b;
      text-decoration: underline; }
    #navigationbar .navbarbutton .navbar-start .navbar-item:focus {
      background-color: #8a2a2b; }
  #navigationbar .navbarbutton .navbar-end .navbar-item {
    color: whitesmoke; }
    #navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link {
      color: whitesmoke;
      background-color: #8a2a2b; }
      #navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link:hover {
        background-color: #8a2a2b; }
      #navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link:active {
        background-color: #8a2a2b; }
      #navigationbar .navbarbutton .navbar-end .navbar-item .navbar-link:focus {
        background-color: #8a2a2b; }
    #navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover {
      -webkit-box-shadow: 0px 0px 3px #000;
      -moz-box-shadow: 0px 0px 3px #000;
      -o-box-shadow: 0px 0px 3px #000;
      -ms-box-shadow: 0px 0px 3px #000;
      -khtml-box-shadow: 0px 0px 3px #000;
      box-shadow: 0px 0px 3px #000; }
      #navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover .navbar-item {
        color: black; }
        #navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover .navbar-item:hover {
          background-color: white;
          text-decoration: underline; }
          #navigationbar .navbarbutton .navbar-end .navbar-item .navbarhover .navbar-item:hover .navbar-link {
            background-color: #8a2a2b; }
    #navigationbar .navbarbutton .navbar-end .navbar-item:hover {
      background-color: #8a2a2b; }
    #navigationbar .navbarbutton .navbar-end .navbar-item:active {
      background-color: #8a2a2b;
      text-decoration: underline; }
    #navigationbar .navbarbutton .navbar-end .navbar-item:focus {
      background-color: #8a2a2b; }

.no-underline:hover {
  text-decoration: none !important;
  cursor: auto; }

#navbreadcrumbscontainer {
  margin-top: 1rem;
  z-index: 1; }
  #navbreadcrumbscontainer #navbarbreadcrumbs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 3px 5px #3a3a3a;
    -moz-box-shadow: 0px 3px 5px #3a3a3a;
    -o-box-shadow: 0px 3px 5px #3a3a3a;
    -ms-box-shadow: 0px 3px 5px #3a3a3a;
    -khtml-box-shadow: 0px 3px 5px #3a3a3a;
    box-shadow: 0px 3px 5px #3a3a3a; }

/* for mobile design */
@media all and (min-width: 1024px) {
  #navigationbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }
