@import "../../mixins";
@import "../../colors";

.dashboard-devider {
    padding: 1rem;
}

#usersnotification {
    background-color: rgb(255, 107, 129);
}
#pendingnotification {
    background-color: rgb(30, 144, 255);
    &:hover {
        cursor: pointer;
    }
}
#notifycontainer {
    background-color: rgb(46, 213, 115);
    &:hover {
        cursor: pointer;
    }
}
.options {
    background-color: white;
}

.modalheader {
    padding: 0.8rem !important;
}

.notificationcontainer {
    height: 100%;
    width: 100%;
    color: white;
    @include boxShadow(0px, 0px, 1px, #000);
    border: 1px solid gray;
    .notificationicon {
        text-align: center;
    }
    .datacount {
        text-align: center;
    }
    .notificationtitle {
        text-align: center;
    }
}

.pending-button {
    border: 1px solid transparent !important;
    background-color: transparent;
    &:hover {
        background-color: transparent;
        cursor: auto;
    }
}

#dashboard-pending-account-view-modal,
#dashboard-pending-account-approve-modal,
#dashboard-pending-account-disapprove-modal,
#dashboard-pending-report-view-modal,
#dashboard-pending-report-approve-modal,
#dashboard-pending-report-disapprove-modal {
    display: none;
    background-color: white;
    z-index: 50;
    position: absolute;
    padding: 1rem;
}

#dashboard-pending-account-view-modal {
    width: 90%;
}

// for mobile devices
@media all and (max-width: 768px) {
    #removemargin {
        margin-bottom: 0px !important;
    }
    .dashboard-devider {
        border: 0px none;
        #graphscontainer {
            margin-bottom: 0px !important;
            .graph {
                height: 14.3rem;
                .canvascontainer {
                    height: 100%;
                    width: 17rem;
                }
                #third-canvas {
                    height: 18rem;
                }
            }
        }
    }
    .notificationcontainer {
        padding: 1rem;

        .notificationicon {
            i {
                font-size: 3rem;
            }
        }
    }

    .options {
        height: 10rem;
        width: 5rem;
    }
}

@media all and (min-width: 769px) and (max-width: 1023px) {
    #removemargin {
        margin-bottom: 0px !important;
    }
    .dashboard-devider {
        border: 0px none;
        #graphscontainer {
            .graph {
                height: 10rem;
                //border: 1px solid black;
                .canvascontainer {
                    height: 100%;
                    width: 19rem;
                    border: 1px solid black;
                }
            }
        }
    }
    .options {
        height: 10rem;
        width: 5rem;
    }
    #third-canvas {
        height: 20rem;
    }
}
// for desktop
@media all and (min-width: 1024px) and (max-width: 1215px) {
    #removemargin {
        margin-bottom: 0px !important;
    }
    .dashboard-devider {
        //border: 1px solid black;
        #graphscontainer {
            .graph {
                height: 14rem;
                //border: 1px solid black;
                .canvascontainer {
                    height: 100%;
                    width: 22rem;
                }
            }
        }
    }
    .notificationcontainer {
        padding: 1rem;
        .notificationicon {
            i {
                font-size: 3rem;
            }
        }
    }
    .options {
        height: 10rem;
        margin-top: 0.6rem;
        width: 5rem;
    }
    #third-canvas {
        height: 30rem;
    }
}

// for widescreen
@media all and (min-width: 1216px) and (max-width: 1407px) {
    #removemargin {
        margin-bottom: 0px !important;
    }
    .dashboard-devider {
        //border: 1px solid black;
        #graphscontainer {
            .graph {
                height: 18rem;
                //border: 1px solid black;
                .canvascontainer {
                    height: 100%;
                    width: 33rem;
                }
            }
        }
    }
    .notificationcontainer {
        padding: 1rem;

        .notificationicon {
            i {
                font-size: 3rem;
            }
        }
    }
    .options {
        height: 10rem;
        width: 5rem;
        margin-top: 0.6rem;
    }
    #pending-modal-card {
        width: 55vw;
    }
    #third-graph {
        margin-top: 4rem !important;
        height: 5rem !important;
    }
    #third-canvas {
        height: 20rem !important;
    }
}

// for fullhd
@media all and (min-width: 1408px) {
    #removemargin {
        margin-bottom: 0px !important;
    }
    .dashboard-devider {
        //border: 1px solid black;
        #graphscontainer {
            .graph {
                height: 17rem;
                //border: 1px solid black;
                .canvascontainer {
                    height: 100%;
                    width: 31rem;
                }
            }
        }
    }

    .notificationcontainer {
        padding: 2rem;

        .notificationicon {
            i {
                font-size: 3rem;
            }
        }
    }
    .options {
        height: 10rem;
        width: 5rem;
        margin-top: 0.6rem;
    }
    #pending-modal-card {
        width: 55vw;
    }
    #third-graph {
        margin-top: 4rem !important;
        height: 5rem !important;
    }
    #third-canvas {
        height: 20rem !important;
    }
}
