@import "../colors";
@import "../mixins";
@import "../overide";
/* admin page general style */
#maincontainer {
    //border: 1px solid black;
    margin-bottom: 0px !important;
    background-color: #f1f1f1;
    #logocontainer {
        //border: 1px solid black;
        #logo {
            //border: 1px solid black;
            width: 7rem;
            padding: 0rem !important;
            height: 7rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        #subtitle {
            font-weight: bold;
            //border: 1px solid black;
            padding-left: 0;

            h2 {
                font-size: 0.8rem;
                font-weight: bold;
                color: black;
            }
            h3 {
                font-size: 0.7rem;
                font-weight: bold;
                color: black;
                text-indent: 1rem;
            }
        }
    }
}

// for mobile devices
@media all and (max-width: 768px) {
    #maincontainer {
        border: 1px solid black;

        #logocontainer {
            border: 1px solid black;
            #logo {
                margin: auto auto;
                margin-top: 1rem;
                width: 7rem;
                height: 7rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #subtitle {
                text-align: center;
                font-weight: bold;
            }
        }
    }
}

@media all and (min-width: 769px) and (max-width: 1023px) {
    #maincontainer {
        border: 1px solid black;

        #logocontainer {
            border: 1px solid black;
            #logo {
                margin: auto auto;
                margin-top: 1rem;
                width: 7rem;
                height: 7rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #subtitle {
                text-align: center;
                font-weight: bold;
                line-height: 1.3rem;
            }
        }
    }
}
// for desktop
@media all and (min-width: 1024px) and (max-width: 1215px) {
    #maincontainer {
        //border: 1px solid black;

        #logocontainer {
            //border: 1px solid black;
            #logo {
                margin: auto auto;
                margin-top: 1rem;
                margin-right: 0rem;
                width: 7em;
                height: 7rem;
                padding: 0.5rem;
                margin-left: 2rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #subtitle {
                height: 3.3rem;
                margin-top: 2.1rem;
                line-height: 1.3rem;
                text-align: left;
                margin-right: 3rem;
                font-weight: bold;
            }
        }
    }
}

// for widescreen
@media all and (min-width: 1216px) and (max-width: 1407px) {
    #maincontainer {
        //border: 1px solid black;

        #logocontainer {
            //border: 1px solid black;

            #logo {
                margin: auto auto;
                margin-top: 1rem;
                width: 7rem;
                height: 7rem;
                margin-right: 0rem;
                margin-left: 2rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #subtitle {
                height: 3.3rem;
                margin-top: 2.1rem;
                line-height: 1.3rem;
                text-align: left;
                margin-right: 3rem;
                font-weight: bold;
            }
        }
    }
}

// for fullhd
@media all and (min-width: 1408px) {
    #maincontainer {
        //border: 1px solid black;

        #logocontainer {
            border: 1px solid black;

            #logo {
                margin: auto auto;
                margin-top: 1rem;
                margin-right: 0rem;
                margin-left: 2rem;
                width: 7rem;
                height: 7rem;
                padding: 0.5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #subtitle {
                height: 3.3rem;
                margin-top: 2.1rem;
                line-height: 1.3rem;
                text-align: left;
                margin-right: 3rem;
                font-weight: bold;
            }
        }
    }
}

@import "../general";
@import "dashboard/dashboard";
@import "graduates/graduates";
@import "reports/reports";
@import "announcements/announcements";
@import "accounts/accounts";
@import "settings/settings";
