@import "../../mixins";
@import "../../colors";

.delete-modal-button {
    height: 2.9rem;
    width: 4rem;
    font-size: 0.9rem;
    @include boxShadow(0px, 0px, 1px, gray);
}
#delete-modal-text {
    padding: 3rem;
    border: 1px solid black;
}

.jobfair-modal-content {
    width: 80%;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
}

#jobfair-search-selected {
    option {
        text-transform: uppercase;
        &:focus {
            text-transform: uppercase;
        }
        &:active {
            text-transform: uppercase;
        }
    }
}
textarea {
    resize: none !important;
}

#first-jobfair-modal-column,
#second-jobfair-modal-column,
#third-jobfair-modal-column,
#fourth-jobfair-modal-column {
    padding: 0.5rem;
    .jobfair-data-column {
        padding: 1rem;
    }
}

#delete-jobfair-grad-modal-content {
    background-color: white !important;
    width: 25% !important;
    height: 14rem;
    padding: 1rem;
}

.jobfair-error-container {
    padding: 1rem;
    display: none;
    color: white;
    background-color: #ef2e55;
    @include boxShadow(0px, 0px, 2px, gray);
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
}
.jobfair-success-container {
    margin-top: 1rem;
    padding: 1rem;
    display: none;
    color: white;
    line-height: 2rem;
    background-color: #3abb67;
    @include boxShadow(0px, 0px, 2px, gray);
    font-size: 0.9rem;
}
#jobfair-add-button {
    background-color: #8a2a2b;
}

#jobfair-content {
    border: 1px solid black !important;
    height: auto;
    #jobfair-container {
        height: auto;
        @include boxShadow(0px, 0px, 2px, #000);
        background-color: white;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        .table-header {
            height: auto;
            padding: 5px;
            border: 1px solid lightgray;
            .table-title {
                padding: 1rem;
                padding-bottom: 0.1rem;
                h2 {
                    font-size: 1.2rem;
                    color: black;
                }
            }
            .table-option {
                padding: 1rem;
            }
        }
        .table-container {
            margin-bottom: 0;
            #jobfair-table {
                margin-bottom: 0;
                thead,
                tbody {
                    tr {
                        th,
                        td {
                            font-size: 0.8rem;
                        }
                        th {
                            font-size: 0.7rem;
                            color: black;
                            font-weight: bold;
                        }
                        td {
                            color: white;
                            font-weight: normal;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
        .table-footer {
            height: auto;
            padding: 1rem;
            border: 1px solid lightgray;
        }
    }
}

.examinations-modal-content {
    width: 80%;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
}

#examinations-search-selected {
    option {
        text-transform: uppercase;
        &:focus {
            text-transform: uppercase;
        }
        &:active {
            text-transform: uppercase;
        }
    }
}
textarea {
    resize: none !important;
}

#first-examinations-modal-column,
#second-examinations-modal-column,
#third-examinations-modal-column,
#fourth-examinations-modal-column {
    padding: 0.5rem;
    .examinations-data-column {
        padding: 1rem;
    }
}

#delete-examinations-modal-content {
    background-color: white !important;
    width: 25% !important;
    height: 14rem;
    padding: 1rem;
}

.examinations-error-container {
    padding: 1rem;
    display: none;
    color: white;
    background-color: #ef2e55;
    @include boxShadow(0px, 0px, 2px, gray);
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
}
.examinations-success-container {
    margin-top: 1rem;
    padding: 1rem;
    display: none;
    color: white;
    line-height: 2rem;
    background-color: #3abb67;
    @include boxShadow(0px, 0px, 2px, gray);
    font-size: 0.9rem;
}
#examinations-add-button {
    background-color: #8a2a2b;
}

#examinations-content {
    border: 1px solid black !important;
    height: auto;
    #examinations-container {
        height: auto;
        @include boxShadow(0px, 0px, 2px, #000);
        background-color: white;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        .table-header {
            height: auto;
            padding: 5px;
            border: 1px solid lightgray;
            .table-title {
                padding: 1rem;
                padding-bottom: 0.1rem;
                h2 {
                    font-size: 1.2rem;
                    color: black;
                }
            }
            .table-option {
                padding: 1rem;
            }
        }
        .table-container {
            margin-bottom: 0;
            #examinations-table {
                margin-bottom: 0;
                thead,
                tbody {
                    tr {
                        th,
                        td {
                            font-size: 0.8rem;
                        }
                        th {
                            font-size: 0.7rem;
                            color: black;
                            font-weight: bold;
                        }
                        td {
                            color: white;
                            font-weight: normal;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
        .table-footer {
            height: auto;
            padding: 1rem;
            border: 1px solid lightgray;
        }
    }
}

.scholarships-modal-content {
    width: 80%;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
}

#scholarships-search-selected {
    option {
        text-transform: uppercase;
        &:focus {
            text-transform: uppercase;
        }
        &:active {
            text-transform: uppercase;
        }
    }
}
textarea {
    resize: none !important;
}

#first-scholarships-modal-column,
#second-scholarships-modal-column,
#third-scholarships-modal-column,
#fourth-scholarships-modal-column {
    padding: 0.5rem;
    .scholarships-data-column {
        padding: 1rem;
    }
}

#delete-scholarships-modal-content {
    background-color: white !important;
    width: 25% !important;
    height: 14rem;
    padding: 1rem;
}

.scholarships-error-container {
    padding: 1rem;
    display: none;
    color: white;
    background-color: #ef2e55;
    @include boxShadow(0px, 0px, 2px, gray);
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
}
.scholarships-success-container {
    margin-top: 1rem;
    padding: 1rem;
    display: none;
    color: white;
    line-height: 2rem;
    background-color: #3abb67;
    @include boxShadow(0px, 0px, 2px, gray);
    font-size: 0.9rem;
}
#scholarships-add-button {
    background-color: #8a2a2b;
}

#scholarships-content {
    border: 1px solid black !important;
    height: auto;
    #scholarships-container {
        height: auto;
        @include boxShadow(0px, 0px, 2px, #000);
        background-color: white;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        .table-header {
            height: auto;
            padding: 5px;
            border: 1px solid lightgray;
            .table-title {
                padding: 1rem;
                padding-bottom: 0.1rem;
                h2 {
                    font-size: 1.2rem;
                    color: black;
                }
            }
            .table-option {
                padding: 1rem;
            }
        }
        .table-container {
            margin-bottom: 0;
            #scholarships-table {
                margin-bottom: 0;
                thead,
                tbody {
                    tr {
                        th,
                        td {
                            font-size: 0.8rem;
                        }
                        th {
                            font-size: 0.7rem;
                            color: black;
                            font-weight: bold;
                        }
                        td {
                            color: white;
                            font-weight: normal;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
        .table-footer {
            height: auto;
            padding: 1rem;
            border: 1px solid lightgray;
        }
    }
}

// for mobile devices
@media all and (max-width: 768px) {
    #delete-modal-text {
        height: 10rem !important;
    }
    .delete-modal-button {
        height: 2.9rem;
        width: 90%;
        font-size: 0.9rem;
    }

    #jobfair-content {
        text-align: center;
    }

    #jobfair-container {
    }

    #delete-jobfair-grad-modal-content {
        background-color: white !important;
        height: 20rem;
        width: 90% !important;
        padding: 1rem;
    }

    #examinations-content {
        text-align: center;
    }

    #examinations-container {
    }

    #delete-examinations-modal-content {
        background-color: white !important;
        height: 20rem;
        width: 90% !important;
        padding: 1rem;
    }

    #scholarships-content {
        text-align: center;
    }

    #scholarships-container {
    }

    #delete-scholarships-modal-content {
        background-color: white !important;
        height: 20rem;
        width: 90% !important;
        padding: 1rem;
    }
}

@media all and (min-width: 769px) and (max-width: 1023px) {
    #delete-modal-text {
        height: 20rem !important;
    }
    .delete-modal-button {
        height: 2.9rem;
        width: 90%;
        font-size: 0.9rem;
    }

    #jobfair-content {
        text-align: center;
    }
    #delete-jobfair-grad-modal-content {
        width: 90%;
        padding: 1rem;
    }

    #examinations-content {
        text-align: center;
    }
    #delete-examinations-modal-content {
        width: 90%;
        padding: 1rem;
    }

    #scholarships-content {
        text-align: center;
    }
    #delete-scholarships-modal-content {
        width: 90%;
        padding: 1rem;
    }
}
// for desktop
@media all and (min-width: 1024px) and (max-width: 1215px) {
    .delete-modal-button {
        height: 2.9rem;
        width: 50%;
        font-size: 0.9rem;
    }

    #jobfair-content {
    }

    #examinations-content {
    }

    #scholarships-content {
    }
}

// for widescreen
@media all and (min-width: 1216px) and (max-width: 1407px) {
    .delete-modal-button {
        height: 2.9rem;
        width: 50%;
        font-size: 0.9rem;
    }

    #jobfair-content {
    }
    #examinations-content {
    }
    #scholarships-content {
    }
}

// for fullhd
@media all and (min-width: 1408px) {
    .delete-modal-button {
        height: 2.9rem;
        width: 50%;
        font-size: 0.9rem;
    }

    #jobfair-content {
    }
    #examinations-content {
    }
    #scholarships-content {
    }
}
